.imageModal__wrapper {
  position: absolute;
  left: calc(50% - 375px);
  max-width: 750px;
  max-height: 750px;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  animation: fadeIn ease 0.5s;
  border-radius: 30px;
}
.imageModal__box {
  width: 100%;
  max-height: 100%;
}
.imageModal__wrapper img {
  border-radius: 30px;
  width: 100%;
  max-width: 750px;
  max-height: 750px;
}

.imageModal__closeIcon {
  position: absolute;
  border-radius: 50px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.imageModal__closeIcon svg {
  width: 30px;
  height: 30px;
}

@keyframes fadeIn {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
